// Colors
$black: #000000;
$white: #ffffff;
$primary-color: #f36528;
$hover-color: #dcdcdc;
$indentation-color: #a0a0a0;

// Fonts
$font-base: 'Inter', sans-serif;
$font-size-base: 16px;
$font-size-title: 1.5rem;
$font-weight-title: 700;

// Spacing
$space-unit: 8px;
$space-item: 0.8rem;
$icon-margin: 8px;

// Styles/Sizes
$icon-size: 30px;
$icon-padding: 0.1rem;
$border-radius: 0.25rem;
$border-style: 1px solid black;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
