@import '../styles/utils/';
.inputContainer {
  display: flex;
  align-items: center;
  gap: $space-item;
}
.icon {
  width: $icon-size;
  height: $icon-size;
  padding: $icon-padding;
  object-fit: contain;
}

.commonButton {
  width: $icon-size;
  height: $icon-size;
  padding: $icon-padding;
  border-radius: $border-radius;
  @include flex-center;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
  & img {
    width: $icon-size;
    height: $icon-size;
  }
}
.input {
  @include common-input;
}

.darkButton {
  @extend .commonButton;
  background: $black;
}
.lightButton {
  @extend .commonButton;
  background: $white;
  border: $border-style;
}
