@import '../styles/utils';

.treeNodeContainer {
  @include flex-column;
  color: $black;
  font-size: $font-size-base;
  padding: $space-item;
  justify-content: center;
  transition: all 0.3s ease;
}

@mixin line-style($height) {
  content: '';
  position: absolute;
  left: -20px;
  top: calc(#{$icon-size} / 2 * -1);
  width: 20px;
  height: $height;
  border-color: $black;
  border-left: 1px solid $black;
}

.treeNodeContainerLine {
  position: relative;
  &::before {
    @include line-style(calc(100%));
  }
  &:last-child::before {
    @include line-style(calc(100%));
  }
  &:first-child::before {
    @include line-style(calc(100% - #{$icon-size} / 2));
    top: 0;
  }
  &:last-child:first-child::before {
    @include line-style(calc(#{$icon-size} / 1.5));
    top: 0;
  }
}

.nodeContainerLine {
  display: flex;
  align-items: center;
  gap: $space-item;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    transform: translateX(calc(-100%)) translateY(-50%);
    width: $icon-size / 1.5;
    height: $icon-size;
    border-bottom: 1px solid $black;
  }
}

.treeNodeWrapper {
  display: flex;
  gap: $space-item;
  align-items: center;
}
.treeNodeHover {
  background-color: transparent;
  border: $border-style;
}
.inputContainer {
  display: flex;
  align-items: center;
  gap: $space-item;
}
.input {
  border: 1px solid $black;
  border-radius: 0.25rem;
  font-size: $font-size-base;
  width: 12rem;
  height: 2rem;
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}
.icon {
  width: $icon-size;
  height: $icon-size;
  padding: $icon-padding;
  object-fit: contain;
}
.commonBtn {
  width: $icon-size;
  height: $icon-size;
  padding: $icon-padding;
  border-radius: $border-radius;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
}
.actionBtnBlack {
  @extend .commonBtn;
  background: $black;
}
.actionBtnWhite {
  @extend .commonBtn;
  background: $white;
  border: $border-style;
}
.nodeContainer {
  display: flex;
  align-items: center;
  gap: $space-item;
}

.actionBtnRound {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $black;
  @include flex-center;
  cursor: pointer;
  transition: background-color 0.2s ease;

  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: $hover-color;
  }
}
.nodeTypeBtn {
  padding: $space-item;
  font-size: $font-size-base;
  background-color: $hover-color;
  border-radius: $border-radius;
  border: $border-style;
}
.actionBtnContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
